
<p id="notice"><%= notice %></p>
<div class="container " style="padding-top: 100px;">
  <h1 class="text-center" style="font-family: 'Shadows Into Light';">Trips</h1>
  <hr>
  <% @trips.each do |trip| %>
  <div class="card-trip">
    <img src='<%= image_path('lagloria3.png')%>' />
    <div class="card-trip-infos">
      <div>
        <h1 style="font-family: 'Shadows Into Light';"><%=trip.title%></h1>
        <p>
          <strong><i class="fas fa-calendar-week"></i> Date:</strong> <br>
          <%= trip.date %>
        </p>

        <p>
          <strong> <i class="fas fa-location-arrow"></i> Location:</strong> <br>
          <%= trip.location %>
        </p>

        <p>
          <strong><i class="fas fa-file-alt"></i> Description:</strong> <br>
          <%= trip.description %>
        </p>
        <br>
        <%= link_to trip_path(trip) do %>
        <h4 class="btn btn-panamakare">Registrate</h4>
        <% end %>
      </div>

    </div>
  </div>
  <hr>
  <% end %>
</div>


<br>

