<div class="navbar-wagon fixed-top">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <%= image_tag "LogoMakr_8aOmEp.png" %>
  <% end %>
  <div class="dropdown ">
    <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <%= link_to "Home", "/", class: "dropdown-item" %>
        <%= link_to "Quienes somos", "#about", class: "dropdown-item" %>
        <%= link_to "Trips", "#eventos", class: "dropdown-item" %>
        <%= link_to "WeKare", "/wekare", class: "dropdown-item" %>
        <%= link_to "Videos", "#videos", class: "dropdown-item" %>
        <%= link_to "Preguntas Frecuentes", "#q&a", class: "dropdown-item" %>
        <%= link_to "Redes", "#redes", class: "dropdown-item" %>
    </ul>
  </div>
</div>
