<div class="container" style="padding-top: 150px;">
  <h1>Q&A</h1>
  <hr>
  <% @questions.each do |q| %>

  <p><%= q.title %> | <%= link_to 'Show', q %> | <%= link_to 'Edit', edit_question_path(q) %> | <%= link_to 'Destroy', q, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <%= link_to 'New question', new_question_path %>
  <% end %>
  <hr>
</div>
