<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>TODO</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href="https://fonts.googleapis.com/css?family=Raleway|Shadows+Into+Light&display=swap" rel="stylesheet">
  <meta name="description" content="Panamakare - Trips con consciencia">
  <meta name="keywords" content="Trips, Panamá, Hiking Panamá, Eventos en panama, Vacaciones, casacadas en panama, Panamakare ">
  <meta name="author" content="Leo">
  <meta http-equiv="refresh" content="120">
  <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
</head>
<body class="Site">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <main class="Site-content">
    <div class="content">
      <%= yield %>
    </div>
  </main>
  <%= render 'shared/footer' %>
  <%= javascript_include_tag 'application' %>

  <%= javascript_pack_tag 'application' %>
</body>
</html>
